.Header {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 60px;
    margin-left: 700px;
    margin-right: 35px;

    text-align: center;
}

.leftPanel {
    margin: auto;
    left: 50%;
    position: absolute;
    top : 100px;
}

.rightPanel {
    margin: auto;
   right: 50%;
    position: absolute;
}

body {
}
